body {
  text-align: center;
  background-color: #010101;
}

h1 {
  font-size: 5rem;
  color: #ffffff;
  font-family: "Righteous", cursive;

  text-shadow: 3px 0 #ee1d52;
}

footer {
  color: #dbedf3;
  font-family: sans-serif;
}

.a {
  background-image: url(images/tom1.png);
}

.s {
  background-image: url(images/tom2.png);
}

.d {
  background-image: url(images/tom3.png);
}

.f {
  background-image: url(images/tom4.png);
}

.j {
  background-image: url(images/crash.png);
}

.k {
  background-image: url(images/kick.png);
}

.l {
  background-image: url(images/snare.png);
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #303338;
  font-size: 5rem;
  font-family: "Bebas Neue", cursive;

  line-height: 2;
  font-weight: 900;
  color: #ffffff;
  text-shadow: -2px -2px 0 #69c9d0, 2px -2px 0 #ee1d52, -2px 2px 0 #ee1d52,
    2px 2px 0 #ee1d52;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}

.drum:hover {
  border: 10px solid #6a717a;
}
