.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #eeeeee;
}

h1 {
  margin: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 5rem;
  color: #303841;
}

p {
  font-size: 2rem;
  color: #3a4750;
  font-family: "Montserrat", sans-serif;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #3a4750;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
